html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: uvfHappyCloud;
  src: url("../public/Font/uvf_happy_cloud_bold/UVF\ HAPPYCLOUD-Bold\ -\ VietDesigner.net.ttf")
    format("truetype");
}

.carousel .thumbs-wrapper {
  display: none;
}

.MenuImg {
  border-radius: 15px;
}

.Home2Img {
  border-radius: 10px;
}

.NavLogo {
  border-radius: 50%;
}

.Home3Img1 {
  background-image: url("../public/img/Banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0vw -2vw;
  background-attachment: fixed;
}

@media screen and (min-width: 1025px) {
  .Home3Img1 {
    background-position: 0vw -7vmin;
  }
}

@media screen and (max-width: 767px) {
  .Home3Img1 {
    background-attachment: scroll;
    background-position: 0vw -18.2vmin;
  }
}

@media screen and (max-width: 376px) {
  .Home3Img1 {
    background-position: 0vw -19vmin;
  }
}

/* @media screen and (min-width: 1025px) {
  .Home3Img1 {

  }
} */
