html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: uvfHappyCloud;
  src: url("../public/Font/uvf_happy_cloud_bold/UVF\ HAPPYCLOUD-Bold\ -\ VietDesigner.net.ttf")
    format("truetype");
}

.carousel .thumbs-wrapper {
  display: none;
}

.MenuImg {
  border-radius: 15px;
}

.Home2Img {
  border-radius: 10px;
}

.NavLogo {
  border-radius: 50%;
}
